body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-image: url("./wispbg.gif");
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
    width: 500px;
    height: 800px;
}